<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}


<div class="container">
  <h1>Chengyu Thought Leadership</h1>
  <h4>What is the meaning of my life?<i> Just love.  </i></h4>
  <h5>For Alfred Adler</h4>

    <ul class="timeline">
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Love</summary>
            <p>“Through love, we free ourselves from the "ego", achieve self-reliance, and truly embrace the world.” — Alfred Adler</p>
          </details>
        </li>

        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Logic of the world</summary>
            <p> “The true logic of this world is in the calculus of probabilities.”— J. C. Maxwell </p>
          </details>
        </li>

        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Respect</summary>
            <p> “Respect means seeing a person as they truly are and recognizing their unique personality.”—  Erich Fromm</p>
          </details>
        </li>

        <li class="timeline">
          <div class="icon working"></div>
          <details class="panel">
            <summary> here and now </summary>
            <p>  “It's precisely because we shine a dim and faint light on our entire lives that we can see the past and the future; or rather, we feel like we can. However, if we direct a powerful spotlight onto the "here and now", we won't be able to see either the past or the future.” - きしみ いちろう ，Kishimi Ichirō</p>
          </details>
        </li>
     
      
    </ul>
</div>
    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>