<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}


<div class="container">
  <h1>Yu Cheng Thought Leadership</h1>
  <h4>What is the meaning of my life?<i> Just love.  </i></h4>
    <ul class="timeline">
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>May 2003: The Miracle of Birth</summary>
            <p><strong>Patient:</strong> Is it a boy or a girl?<br><br>
<strong>Obstetrician:</strong> Now, I think I am a boy in a kind family. This is my treasure and fortune.</p>
          </details>
        </li>
      
    </ul>
</div>
    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>